@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    margin: 0 auto;
    width: 1778px;
    height: 1006px;
    background-image: url(../imgs/login_bg.png);
    background-repeat: no-repeat;
}

.main .block {
    position: relative;
    top: 215px;
    left: 920px;
    width: 700px;
    height: 500px;
    background-color: rgba(242, 242, 242, .8);
    border-radius: 25px;
}

.main .block h1 {
    position: absolute;
    top: 25px;
    right: 284px;
    margin: 0 auto;
    font-size: 35px;
    color: rgb(70, 70, 70);
}

.main .block .imgs {
    position: relative;
    top: 134px;
    right: -94px;
}

.main .block input {
    position: relative;
    top: 119px;
    right: -100px;
    font-size: 28px;
    height: 50px;
    width: 450px;
    margin-bottom: 30px;
}

#submit {
    position: relative;
    top: 150px;
    left: 214px;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border-color: pink;
    background-color: #81D3F8;

}

.main .block span {
	color: rgb(80, 97, 102);
    position: relative;
    top: -29px;
    left: 255px;
}

.main .block img {
    width: 50px;
}

#notfound {
    color: red;
    font-size: 20px;
    position: absolute;
    top: 192px;
    left: 153px;
}

#err {
    color: red;
    font-size: 20px;
    position: absolute;
    top: 290px;
    left: 153px;
}

.main .block #noname {
    color: red;
    font-size: 20px;
    position: absolute;
    top: 192px;
    left: 153px;
}

.main .block #nopsw {
    color: red;
    font-size: 20px;
    position: absolute;
    top: 290px;
    left: 153px;
}